@using ForestrySystem.Models
@model List<ForestrySystem.Models.UserRolesViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Потребители</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Име</th>
            <th>Фамилия</th>
            <th>Имейл</th>
            <th>Роля</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td>
                    <a class="btn btn-success" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.UserId">Менажиране</a>
                    <a class="btn btn-success" asp-controller="UserRoles" asp-action="Delete" asp-route-userId="@user.UserId">Изтриване</a>
                </td>

            </tr>
        }
    </tbody>
</table>