@model ForestrySystem.Models.CategoryOfTimber

@{
    ViewData["Title"] = "Details";
}

<h1>Детайли</h1>

<div>
    <h4>Категории дървесина</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountForLogging)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountForLogging)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfLogging)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfLogging)
        </dd>
    </dl>
</div>
<div>
    <a class="link-success" asp-action="Edit" asp-route-id="@Model?.Id">Редакция</a>
    <a class="link-success" asp-action="Index">Обратно към предходната страница</a>
</div>
