@model IEnumerable<ForestrySystem.Models.CategoryOfTimber>

@{
    ViewData["Title"] = "Index";
}
<h1>Страница за редакция на данни за категории дървесина</h1>

<br>
<p>
    <a class="alert alert-success" asp-action="Create">Добави нов запис</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountForLogging)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfLogging)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountForLogging)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfLogging)
                </td>
                <td>
                   <a class="link-success" asp-action="Edit" asp-route-id="@item.Id">Редактирай</a>
                    <a class="link-success" asp-action="Details" asp-route-id="@item.Id">Детайли</a>
                    <a class="link-success" asp-action="Delete" asp-route-id="@item.Id">Изтриване</a>
                </td>
            </tr>
        }
    </tbody>
</table>
