@model ForestrySystem.Models.ForestryInstitution

@{
    ViewData["Title"] = "Delete";
}

<h1>Изтриване</h1>

<h3>Сигурни ли сте, че искате да изтриете този запис?</h3>
    <h4>ForestryInstitution</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GreenArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GreenArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrbanizedArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrbanizedArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <br>
        <a class="alert alert-success" asp-action="Index">Обратно към предходна станица</a>
    </form>
</div>
