@using ForestrySystem.Enums
@using ForestrySystem.Data.Models
@model DisplayInstitutionCategory


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.institution.Name</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ForestrySystem.styles.css" asp-append-version="true" />
</head>
<body>
    <form asp-action="DisplayInstitution" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container">
            <h1>@Model.institution.Name</h1>

            <p><strong>Location:</strong> @Model.institution.Location</p>
            <p><strong>Phone:</strong> @Model.institution.Phone</p>
            <p><strong>Description:</strong> @Model.institution.Description</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2951.710964205137!2d27.549058615453976!3d42.2846928791921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a6db5451ee0059%3A0x166d96a5fed55b18!2z0JTQqtCg0JbQkNCS0J3QniDQk9Ce0KDQodCa0J4g0KHQotCe0J_QkNCd0KHQotCS0J4g0J3QntCS0J4g0J_QkNCd0JjQp9CQ0KDQldCS0J4!5e0!3m2!1sen!2sbg!4v1683116828592!5m2!1sen!2sbg" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
       @*     <h2>Данни за общата сеч по категории дървесина и дървесен вид</h2>
            <div class="form-group">
                <label asp-for="categoryOfTimber" class="control-label">Категория:</label>
                <select asp-for="categoryOfTimber" class="form-select" asp-items="Html.GetEnumSelectList<CategoryOfTimberEnum>()">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TimberName" class="control-label">Вид:</label>
                <select asp-for="TimberName" class="form-select" asp-items="Html.GetEnumSelectList<OriginEnum>()">
                </select>
            </div>*@

            <h2>Данни за общата сеч по години</h2>
            <div class="form-group">
                <label asp-for="Year">Година:</label>
                <select asp-for="Year" class="form-select">
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                </select>
            </div>

            <input type="submit" value="Submit" class="btn btn-success" />

        </div>
    </form>

</body>
